@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

/* background image */
.img-back {
  position: relative;
  /*opacity: 0.8;*/
  width: 100%;
  height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  z-index: -3;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  transition: all 0.35s ease-in;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 200px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 80%;
}

/* Modal Button */
.modal-wrapper {
  display: flex;
  justify-content: center;
}
.myBtn {
  margin-top: -300px;
  padding: 20px 60px;
  border-radius: 28px;
  border: 2px solid #ffc107;
  background: transparent;
  color: #ffc107;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  outline: none;
}

.myBtn:hover {
  background: #000;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffc107;
  text-decoration: none;
  cursor: pointer;
}